body {
	background: linear-gradient(220deg, hsl(150, 50%, 30%), hsl(200, 50%, 30%), hsl(250, 50%, 30%));
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	min-height: 100vh;
	color: white;
	font-size: 1.7rem;
	font-family: "Inconsolata", monospace;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// border: 1px solid orange;
}

.options-bar {
	width: 100vw;
	background-color: hsl(152, 10%, 70%);
}

.options-container {
	text-align: center;
	display: grid;
	// grid-template-columns: 10vh repeat(5, minmax(100px, 1fr)) 10vh;
	grid-template-columns: repeat(5, minmax(100px, 1fr));
	// grid-template-columns: 20vw auto auto auto auto auto 20vw;
	justify-items: center;
	align-items: center;
	align-content: center;
	column-gap: 1.5rem;
}

// .options-container {
// 	display: flex;
// 	gap: 30px;
// 	flex: 1 1 30px;
// 	align-items: center;
// 	justify-content: center;
// }

.play-button {
	padding: 1rem;
	background-color: transparent;
	outline: none;
	border: none;

	&:focus {
		outline: none;
	}

	.play-button-icon {
		color: white;
		font-size: 2rem;
		transition: transform 0.5s;
		&:hover {
			cursor: pointer;
			transform: scale(1.5);
		}
	}
}

.squares-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 2rem;
	row-gap: 2rem;
}

.square {
	width: 100px;
	height: 100px;
	border-radius: 10%;
	border: 2px solid red;
}
