@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
}

html {
  font-size: 1.7rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 1.4rem;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 1rem;
  }
}

body {
  background: linear-gradient(220deg, #26734d, #265973, #332673);
  background-size: 400% 400%;
  -webkit-animation: gradient 30s ease infinite;
          animation: gradient 30s ease infinite;
  min-height: 100vh;
  color: #fffe;
  font-family: "Inconsolata", monospace;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3 {
  margin: 0.5em 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options-container > ul {
  list-style: none;
  margin: 0.3rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  -ms-grid-columns: (minmax(auto, 150px))[7];
      grid-template-columns: repeat(7, minmax(auto, 150px));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: ". . ." "none . none" ". . .";
}

@media (max-width: 900px) {
  .options-container > ul {
    grid-auto-flow: row;
    -ms-grid-columns: (minmax(auto, 6rem))[3];
        grid-template-columns: repeat(3, minmax(auto, 6rem));
    -ms-grid-rows: (minmax(auto, 4rem))[3];
        grid-template-rows: repeat(3, minmax(auto, 4rem));
        grid-template-areas: "squares-f rounds-f seconds-f" ". play ." "seconds points rounds";
  }
}

@media (max-width: 600px) {
  .options-container > ul {
    grid-gap: 0.7em;
  }
}

.options-container .option-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 15px 9px #2224;
          box-shadow: 0 0 15px 9px #2224;
  padding: 0.3em;
  height: 100%;
}

.options-container .option-item > span {
  padding-left: 0.4rem;
}

.options-container .filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options-container .filter-container .radiobtn label {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 0.7rem;
}

.options-container .filter-container .radiobtn label:hover {
  color: #fffe;
}

.options-container .filter-container .radiobtn input[type="radio"] {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.options-container .filter-container .radiobtn input[type="radio"]:checked + label {
  font-weight: bold;
  font-size: 0.9rem;
  color: #fffe !important;
}

.options-container .button {
  padding: 0.8rem;
  background-color: transparent;
  outline: none;
  border: none;
}

.options-container .button .button-icon {
  color: #fffe;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.options-container .button .button-icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.options-container .button .play-button-icon {
  font-size: 1.5rem;
}

.options-container .button .pause-button-icon,
.options-container .button .exit-button-icon {
  font-size: 1.2rem;
}

.options-container .point-animate {
  -webkit-animation: grow 0.5s ease-in-out;
          animation: grow 0.5s ease-in-out;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(2) translateX(-10%);
            transform: scale(2) translateX(-10%);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(2) translateX(-10%);
            transform: scale(2) translateX(-10%);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.rgb-container {
  padding: 0.5rem 0;
}

.squares-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1em;
  padding: 0.5em;
}

.squares-container .square {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 15px 9px #2224;
          box-shadow: 0 0 15px 9px #2224;
}

.squares-container .square-active:hover {
  cursor: pointer;
  -webkit-animation: shake 0.3s linear;
          animation: shake 0.3s linear;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: scale(1.1) rotate(5deg);
            transform: scale(1.1) rotate(5deg);
  }
  50% {
    -webkit-transform: scale(1.2) rotate(-5deg);
            transform: scale(1.2) rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(1.2) rotate(5deg);
            transform: scale(1.2) rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: scale(1.1) rotate(5deg);
            transform: scale(1.1) rotate(5deg);
  }
  50% {
    -webkit-transform: scale(1.2) rotate(-5deg);
            transform: scale(1.2) rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(1.2) rotate(5deg);
            transform: scale(1.2) rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.squares-container .square-correct::after {
  content: "\2714";
  position: relative;
  top: 0;
  left: 25%;
  font-size: 3rem;
}

.squares-container .square-wrong::after {
  content: "\2718";
  position: relative;
  top: 0;
  left: 25%;
  font-size: 3rem;
}
