@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");

$primary-color: #e5f1ef;

* {
	padding: 0;
	box-sizing: border-box;
	border: 0;
	margin: 0;
}

html {
	font-size: 1.7rem;
	@media (max-width: 1200px) {
		font-size: 1.4rem;
	}

	@media (max-width: 900px) {
		font-size: 1.2rem;
	}

	@media (max-width: 600px) {
		font-size: 1rem;
	}
}

body {
	background: linear-gradient(220deg, hsl(150, 50%, 30%), hsl(200, 50%, 30%), hsl(250, 50%, 30%));
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	min-height: 100vh;
	color: $primary-color;
	font-family: "Inconsolata", monospace;
}

h1,
h2,
h3 {
	margin: 0.5em 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// border: 1px solid orange;
}

// .options-bar {
// 	width: 100%;
// 	background-color: hsl(152, 10%, 70%);
// }

.options-container {
	display: flex;
	justify-content: center;

	& > ul {
		list-style: none;
		margin: 0.3rem;
		display: grid;
		grid-gap: 1rem;
		grid-auto-flow: column;
		grid-template-columns: repeat(7, minmax(auto, 150px));
		grid-template-rows: auto;
		// grid-template-columns: repeat(3, minmax(auto, 150px));
		// grid-template-rows: repeat(3, minmax(auto, 150px));
		grid-template-areas:
			". . ."
			"none . none"
			". . .";

		// grid-template-areas:
		// 	"squares-f rounds-f seconds-f"
		// 	". play ."
		// 	"seconds points rounds";

		// padding: 1em; /* NEW */

		@media (max-width: 900px) {
			// grid-gap: 0.5em;
			grid-auto-flow: row;
			grid-template-columns: repeat(3, minmax(auto, 6rem));
			grid-template-rows: repeat(3, minmax(auto, 4rem));
			// grid-template-rows: auto;
			grid-template-areas:
				"squares-f rounds-f seconds-f"
				". play ."
				"seconds points rounds";
		}
		@media (max-width: 600px) {
			grid-gap: 0.7em;
		}
	}

	.option-item {
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 15px 9px #2224;
		padding: 0.3em;
		height: 100%;

		& > span {
			padding-left: 0.4rem;
		}
	}

	.filter-container {
		display: flex;
		flex-direction: column;

		.radiobtn {
			label {
				cursor: pointer;
				color: transparentize($primary-color, 0.7);
				transition: all 0.3s ease;
				font-size: 0.7rem;

				&:hover {
					color: $primary-color;
				}
			}
			input[type="radio"] {
				display: none;
				appearance: none;
				&:checked + label {
					font-weight: bold;
					font-size: 0.9rem;
					color: $primary-color;
				}
			}
			input:disabled + label {
				color: transparentize($primary-color, 0.8) !important;
				// color: red;
				cursor: default;
			}
		}
	}

	.button {
		padding: 0.8rem;
		background-color: transparent;
		outline: none;
		border: none;

		.button-icon {
			color: $primary-color;
			transition: all 0.2s ease;
			&:hover {
				cursor: pointer;
				transform: scale(1.4);
				// color: rgb(0, 219, 0);
			}
		}

		.play-button-icon {
			font-size: 1.5rem;
		}

		.pause-button-icon,
		.exit-button-icon {
			font-size: 1.2rem;
		}
	}

	.point-animate {
		// display: inline-block;
		animation: grow 0.5s ease-in-out;

		@keyframes grow {
			0% {
				transform: scale(0);
			}
			50% {
				transform: scale(2) translateX(-10%);
			}
			100% {
				transform: scale(1);
			}
		}
	}
}

.rgb-container {
	padding: 0.5rem 0;
}

.squares-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 1em;
	row-gap: 1em;
	padding: 0.5em;

	.square {
		width: 4.5rem;
		height: 4.5rem;
		border-radius: 10%;
		box-shadow: 0 0 15px 9px #2224;
		// transition: all 0.3s ease;
	}

	.square-active {
		// transition: transform 0.3s ease-in-out;
		&:hover {
			// transform: scale(1.1);
			cursor: pointer;
			animation: shake 0.3s linear;
			// transform: rotate(90deg);
		}

		@keyframes shake {
			0% {
				transform: rotate(0deg);
			}
			25% {
				transform: scale(1.1) rotate(5deg);
			}
			50% {
				transform: scale(1.2) rotate(-5deg);
			}
			75% {
				transform: scale(1.2) rotate(5deg);
			}
			100% {
				transform: rotate(0deg);
			}
		}
	}

	.square-correct::after {
		content: "\2714";
		position: relative;
		top: 0;
		left: 25%;
		font-size: 3rem;
	}
	.square-wrong::after {
		content: "\2718";
		position: relative;
		top: 0;
		left: 25%;
		font-size: 3rem;
	}
}
