@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");

$primary-color: #fffe;

* {
	padding: 0;
	box-sizing: border-box;
	border: 0;
	margin: 0;
}

body {
	background: linear-gradient(220deg, hsl(150, 50%, 30%), hsl(200, 50%, 30%), hsl(250, 50%, 30%));
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	min-height: 100vh;
	color: $primary-color;
	font-size: 1.7rem;
	font-family: "Inconsolata", monospace;
}

h1,
h2,
h3 {
	margin: 0.5em 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// border: 1px solid orange;
}

// .options-bar {
// 	width: 100%;
// 	background-color: hsl(152, 10%, 70%);
// }

.options-container {
	display: flex;
	justify-content: center;

	& > ul {
		list-style: none;
		margin: 0.3rem;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(5, minmax(auto, 150px));
		grid-gap: 1em;
		// padding: 1em; /* NEW */
	}

	.option-item {
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 15px 9px #2224;
		padding: 0.3em;
		height: 100%;

		& > span {
			padding-left: 0.4rem;
		}
	}

	.filter-container {
		display: flex;
		flex-direction: column;

		.radiobtn {
			label {
				cursor: pointer;
				font-size: 1.2rem;
				color: transparentize(white, 0.7);
				transition: all 0.3s ease;

				&:hover {
					color: $primary-color;
					transform: scale(1.5);
				}
			}
			input[type="radio"] {
				display: none;
				appearance: none;
				&:checked + label {
					font-weight: bold;
					font-size: 1.4rem;
					color: $primary-color !important;
				}
			}
		}
	}

	.play-button {
		padding: 1rem;
		background-color: transparent;
		outline: none;
		border: none;

		.play-button-icon {
			color: $primary-color;
			font-size: 2rem;
			transition: all 0.3s ease;
			&:hover {
				cursor: pointer;
				transform: scale(1.5);
				// color: rgb(0, 219, 0);
			}
		}
	}
}

.rgb-container {
	padding: 1rem 0;
}

.squares-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 2rem;
	row-gap: 2rem;
	padding: 1rem;

	.square {
		width: 120px;
		height: 120px;
		border-radius: 10%;
		box-shadow: 0 0 15px 9px #2224;
		// transition: all 0.3s ease;
		&:hover {
			// transform: scale(1.1);
			cursor: pointer;
			animation: shake 0.5s linear;
		}

		@keyframes shake {
			0% {
				transform: rotate(0deg);
			}
			20% {
				transform: scale(1.1) rotate(5deg);
			}
			40% {
				transform: scale(1.2) rotate(-5deg);
			}
			60% {
				transform: scale(1.2) rotate(5deg);
			}
			80% {
				transform: scale(1.1) rotate(-5deg);
			}
			100% {
				transform: rotate(0deg);
			}
		}
	}

	.square-correct::after {
		content: "\2714";
		position: relative;
		top: 0;
		left: 25%;
		font-size: 5rem;
	}
	.square-wrong::after {
		content: "\2718";
		position: relative;
		top: 0;
		left: 25%;
		font-size: 5rem;
	}
}
