@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  background: linear-gradient(220deg, #26734d, #265973, #332673);
  background-size: 400% 400%;
  -webkit-animation: gradient 30s ease infinite;
          animation: gradient 30s ease infinite;
  min-height: 100vh;
  color: white;
  font-size: 1.7rem;
  font-family: "Inconsolata", monospace;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3 {
  margin: 0.5em 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options-container > ul {
  list-style: none;
  margin: 0.3rem;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: (minmax(auto, 150px))[5];
      grid-template-columns: repeat(5, minmax(auto, 150px));
  grid-gap: 1em;
}

.options-container .option-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 15px 9px #2224;
          box-shadow: 0 0 15px 9px #2224;
  padding: 0.3em;
  height: 100%;
}

.options-container .play-button {
  padding: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
}

.options-container .play-button:focus {
  outline: none;
}

.options-container .play-button .play-button-icon {
  color: white;
  font-size: 2rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.options-container .play-button .play-button-icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.rgb-container {
  padding: 2rem 0;
}

.squares-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
  padding: 2rem;
}

.squares-container .square {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  -webkit-box-shadow: 0 0 15px 9px #2224;
          box-shadow: 0 0 15px 9px #2224;
}
